#!/bin/bash

function rcon {
  /usr/local/bin/mcrcon -H 127.0.0.1 -P {{ rcon_port }} -p {{ rcon_password }} "$1"
}

rcon "save-off"
rcon "save-all"
tar -cvpzf {{ minecraft_dir }}/backups/server-$(date +%F_%R).tar.gz {{ minecraft_dir }}/server
rcon "save-on"

## Delete older backups
find {{ minecraft_dir }}/backups/ -type f -mtime +7 -name '*.gz' -delete
